.menuComponent {
  display: none;
}

@media (max-width: 576px) {
  .menuComponent {
    position: fixed;
    display: block;
    width: 100%;
    margin-top: 8px;
    height: 100vh;
    background-color: white; /* затемнение фона */
    z-index: 9999; /* высокий z-index, чтобы быть поверх других элементов */
  }
  .divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
  }
  .headerButtons {
    padding-top: 20px;
    font-size: 28px;
    color: black;
  }
  .AuthButtonsContainer {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .loginButton {
    border-radius: 28px;
    background: white;
    border: 1px solid black;
    width: 105px;
    height: 40px;

    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    &:hover {
      background: #9ae3e3;
      border: #9ae3e3;
    }
  }
  .signUpButton {
    border-radius: 28px;
    background: var(--buttons-color);
    border: 3px solid #2acfcf;
    width: 105px;
    height: 40px;

    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    &:hover {
      background: #9ae3e3;
      border: #9ae3e3;
    }
  }
}
