.header {
  margin-top: 48px;
}

.headerWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.5fr 220px;
  justify-content: space-between;
}

.headerButtonsContainer {
  display: grid;
  grid-auto-flow: column;
}

.left {
  display: grid;
  grid-auto-flow: column;
}
.right {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

.logo {
  margin-right: 15px;
}

.headerButtons {
  padding-left: 29px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: center;
  justify-self: end;

  color: #9e9aa8;
  cursor: pointer;
  &:hover {
    color: var(--violet-dark);
  }
}

.signUpButton {
  border-radius: 28px;
  background: var(--buttons-color);
  border: 3px solid #2acfcf;
  width: 105px;
  height: 40px;

  justify-self: end;
  margin-left: 37px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  &:hover {
    background: #9ae3e3;
    border: #9ae3e3;
  }
}
.burger {
  display: none;
}
.hamburger {
  display: none;
}

@media (max-width: 1200px) {
  //993
}

@media (max-width: 992px) {
  //769
}

@media (max-width: 768px) {
  //577
  .headerButtons {
    padding-left: 15px;
  }
  .signUpButton {
    margin-left: 20px;
  }
}

@media (max-width: 576px) {
  .headerButtons {
    display: none;
  }
  .headerWrapper {
    grid-template-columns: 1fr;
  }
  .left {
    justify-content: space-between;
    align-items: center;
  }
  .right {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
