.startPage {
}

.startPageWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 565px;
}

.title {
  margin-top: 145px;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--violet-dark);
}

.subtitle {
  margin-top: 5px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--violet-light);
}

.startPageButton {
  margin-top: 52px;
  width: 197px;
  height: 56px;
  border-radius: 28px;
  background: var(--buttons-color);
  border: 3px solid #2acfcf;

  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  animation: bn53bounce 4s infinite;
  &:hover {
    background: #9ae3e3;
    border: #9ae3e3;
  }
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.startPageImage {
  margin-top: 86px;
  left: 55%;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1439px) {
  //1201
  .startPageImage {
    margin-top: 86px;
    left: 33%;
    position: absolute;
    z-index: -1;
  }
}

@media (max-width: 1200px) {
  //993
  .startPageImage {
    margin-top: 162px;
    left: 22%;
    position: absolute;
    z-index: -1;
  }
}

@media (max-width: 992px) {
  //769
  .title {
    margin-top: 140px;
  }
  .startPageImage {
    margin-top: 45px;
    left: -4%;
  }
  .startPageButton {
    border: 3px solid #176868;
  }
}

@media (max-width: 768px) {
  //577
  .startPageImage {
    display: none;
    width: 577px;
    position: static;
    bottom: 50%;
    z-index: -1;
  }
}

@media (max-width: 576px) {
  .startPageWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .startPageImage {
    position: fixed;
    top: 10%;
    z-index: -1;
  }

  .title {
    margin-top: 89px;
    font-size: 36px;
    line-height: 41px;
  }

  .subtitle {
    margin-top: 36px;
    font-size: 17px;
    line-height: 25px;
  }
}
